<!DOCTYPE html>
<%- include('../template/header') %>
<body>
    <%- include('../nav/nav', {title: title}) %>
    <div class="container">
        <div class="row m-2 p-0">
            <div class="col-6">
            </div>
            <div class="col-6">
                <h1 class="h2 text-end m-0 mx-3 p-0"><%= title %></h1>
            </div>
        </div>
        <div class="row">
            <div class="card p-0 m-1 shadow-sm" style="width: 360px;">
                <div class="card-header bg-success text-white p-2">
                    <h6 class="m-0 p-0">PERFIL USUARIO</h6>
                </div>
                <div class="class-body px-3 pt-2 ">
                    <dl class="row">
                        <dt class="col-5">
                            Nombres:
                        </dt>
                        <dd class="col-7 text-center">
                            <%= dataUser.userFirstName %> 
                        </dd>
                        <dt class="col-5">
                            Apellidos:
                        </dt>
                        <dd class="col-7 text-center">
                           <%= dataUser.userLastName %>
                        </dd>
        
                        <dt class="col-5">
                            Rol:
                        </dt>
                        <dd class="col-7 text-center">
                            <% if (dataUser.userRol === 'r0') { %>
                                Pendiente
                            <% } else if (dataUser.userRol === 'r1') { %>
                                Administrador
                            <% } else if (dataUser.userRol === 'r2') { %>
                                SuperAdmin
                            <% } else if (dataUser.userRol === 'r3') { %>
                                General
                            <% } %>
                        </dd>
        
                        <dt class="col-5">
                            Status:
                        </dt>
                        <dd class="col-7 text-center">
                            <% if (dataUser.userStatus === 's0') { %>
                                Sin Asignación
                            <% } else if (dataUser.userStatus === 's1') { %>
                                Pendiente
                            <% } else if (dataUser.userStatus === 's2') { %>
                                Activo
                            <% } else if (dataUser.userStatus === 's3') { %>
                                Deshabilitado
                            <% } %>
                        </dd>
    
                        <dt class="col-5">
                            Departamento:
                        </dt>
                        <dd class="col-7 text-center">
                            <% if (dataUser.userDepartment === 'd0') { %>
                                Sin Asignación
                            <% } else if (dataUser.userDepartment === 'd1') { %>
                                Administración
                            <% } else if (dataUser.userDepartment === 'd2') { %>
                                Operaciones
                            <% } else if (dataUser.userDepartment === 'd3') { %>
                                Flota
                            <% } %>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="card p-0 m-1 shadow-sm" style="width: 360px;">
                <div class="card-header bg-warning text-dark p-2">
                    <h6 class="m-0 p-0">Cotizaciones Realizadas</h6>
                </div>
                <div class="class-body px-3 pt-2 text-center my-auto">
                    <span class="h1">
                        <%=  countQuoter  %>
                    </span>                                        
                </div>
            </div>
        </div>
    </div>  
</body>
</html>
