<!DOCTYPE html>
<%- include('../template/header', {title:title}) %>
<body>
    <%- include('../nav/nav', {title: title}) %>
    <div class="container">
        <div class="row m-2 p-0">
            <div class="col-6">
                
            </div>
            <div class="col-6">
                <h1 class="h2 text-end m-0 mx-3 p-0"><%= title %></h1>
            </div>
        </div>
        <div class="card shadow p-2"> 
            <div class="table-responsive">
                <table class="table table-hover table-bordered m-0 p-0">
                    <thead>
                        <tr class="bg-light text-center">
                            <th>Nombre</th>
                            <th>Status</th>
                            <th>Status</th>
                            <th>Departamento</th>
                            <th>Rol</th>
                            <th>Acciones</th>                     
                        </tr>
                    </thead>
                    <tbody>
                        <% users.forEach (user =>{ %>
                            <tr>
                                <td><%= user.userFirstName %></td>
                                <td><%= user.userLastName %></td>
                                <td><!-- status -->
                                    <% if (user.userStatus == 's1') { %>
                                        Pendiente
                                    <% } else if (user.userStatus == 's2') { %>
                                       Activo
                                    <% } else if (user.userStatus == 's3') { %>
                                       Deshabilitado
                                    <% } else if (user.userStatus == 's0') { %>
                                        Sin Asignación
                                    <% } %>
                                </td>
                                <td><!-- departamentos -->
                                    <% if (user.userDepartment == 'd1') { %>
                                        Administracion
                                    <% } else if (user.userDepartment == 'd2') { %>
                                        Operaciones
                                    <% } else if (user.userDepartment == 'd3') { %>
                                        Flota
                                    <% } %>
                                </td>
                                <td><!-- rol -->
                                    <% if (user.userRol == 'r1') { %>
                                        Administración
                                    <% } else if (user.userRol == 'r2') { %>
                                        SuperAdmin
                                    <% } else if (user.userRol == 'r3') { %>
                                        General 
                                    <% } else if (user.userRol == 'r0') { %>
                                        Sin Asignar
                                    <% } %>
                                </td>
                                <td class="text-center">
                                    <!-- edit -->
                                    <a href="/usuarios/edit/<%= user.userID %>" class="text-warning mx-1"><i class="fa-solid fa-pen-to-square"></i></a>

                                    <!-- view -->
                                    <a href="/usuarios/view/<%= user.userID %>" class="text-success mx-1"><i class="fa-solid fa-eye"></i></a>                                    
                                </td>       
                            </tr>
                        <% }) %>                  
                    </tbody>                
                </table>
            </div>
        </div>
    </div>  
</body>
</html>