<!DOCTYPE html>
<%- include('../template/header', {title:title}) %>
<body>
    <%- include('../nav/nav', {title: title}) %>
    <div class="container">
        <div class="row row-title p-2">
            <div class="col-6">
                <a class="btn btn-success" href="/servicios/nuevo-servicio"><b>+</b> Agregar </a>               

            </div>
            <div class="col-6">
                <h1 class="h1 text-end"><%= title %></h1>
            </div>
        </div>
        <div>
            <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th>Código Unico</th>
                        <th>Servicio </th> 
                        <th>cant. pasajeros</th>
                        <th>Status</th>                       
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>

                    <% services.forEach (service =>{%>
                    <tr>
                        <td><%= service.serviceID %></td>
                        <td><%= service.serviceName %></td>
                        <td><%= service.servicePassengerCapacity %> pasajeros</td>
                        <td><% if (service.serviceStatus === 1 ) { %>habilitado<%} %></td>
                        <td>
                            <!-- comment -->
                            <button class="btn text-success" disabled title="info servicio"><i class="fa-solid fa-comment"></i></button>
                            <!-- view -->
                            <button class="btn text-success" disabled title="ver servicio"><i class="fa-solid fa-eye"></i></button>
                            <!-- edit -->
                            <button class="btn text-warning" disabled title="editar servicio" ><i class="fa-solid fa-pen-to-square"></i></button>
                            <!-- disabled -->
                            <button class="btn text-danger" disabled title="deshabilitar servicio"> <i class="fa-solid fa-ban"></i></button>
                        </td>
                    </tr>
                    <% }) %>

                    
        

                </tbody>
                


                <tbody> 
                             
                </tbody>                
            </table>
        </div>
    </div>  
</body>
</html>


